.about-block {
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.about-block p {
    font-size: 1.4rem;
    text-align: center;
}

.about-block a {
    text-decoration: none;
    color: #145DA0;
    font-weight: bold;
    transition: color 0.2s ease;
}

.about-block a:hover {
    color: #024CAF;
}