.greeting-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.greeting-block p {
    font-size: 1.8rem;
    text-align: center;
}

.greeting-image {
    float: left;
    border: 5px solid #B1D4E0;
    border-radius: 50%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
}

#name {
    font-weight: 700;
    text-shadow: none;
    background: -webkit-linear-gradient(#bbe0ff, #48f2fe, #63ffbc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: #1a6a66;
}

.glow {
    text-align: center;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}
  
@keyframes glow {
from {
    text-shadow: 0 0 10px #63ffbc, 0 0 20px #63ffbc, 0 0 30px #2E8BC0, 0 0 40px #2E8BC0, 0 0 50px #2E8BC0, 0 0 60px #2E8BC0, 0 0 70px #2E8BC0;
}
to {
    text-shadow: 0 0 20px #63ffbc, 0 0 30px #145DA0, 0 0 40px #145DA0, 0 0 50px #145DA0, 0 0 60px #145DA0, 0 0 70px #145DA0, 0 0 80px #145DA0;
}
}

@media screen and (max-width: 800px) {
    .greeting-block {
        flex-direction: column;
        text-align: center;
    }

    .greeting-image {
        max-width: 200px;
        margin-bottom: 20px;
    }

    .text-container h1, .text-container p {
        text-align: center;
    }
}