.greeting-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.greeting-block p {
    font-size: 1.8rem;
    text-align: center;
}

.greeting-image {
    border: 5px solid #B1D4E0;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#name {
    color: #B5DFFF;
}