.greeting-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.greeting-block p {
    font-size: 1.8rem;
    text-align: center;
}

.greeting-image {
    float: left;
    border: 5px solid #B1D4E0;
    border-radius: 50%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
}

#name {
    text-shadow: none;
    background: -webkit-linear-gradient(#bbe0ff, #48f2fe, #63ffbc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 800px) {
    .greeting-block {
        flex-direction: column;
        text-align: center;
    }

    .greeting-image {
        max-width: 200px;
        margin-bottom: 20px;
    }

    .text-container h1, .text-container p {
        text-align: center;
    }
}