@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Raleway, sans-serif;
  color: #FFFFFF;
  background: linear-gradient(334deg, #2E8BC0, #145DA0, #B1D4E0);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

main {
  margin: 3% 12% 3% 12%;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


.text-container {
  background-color: #FFFFFF3F;
  border-radius: 10px;
  padding: 20px;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}